.App {
  font-family: 'Exo 2', sans-serif;
  background: #222;
}

h2 {
  font-family: 'Play', sans-serif;
}

a {
  color: #ddd;
}

.login {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  text-align: right;
  background: #111;
  height: 10vh;
  border-bottom: 1px solid black;
  width: 100vw;
}

.login form {
  margin-right: 100px;
}

.login input {
  margin-right: 5px;
  height: 2vh;
  border: 2px solid white;
  border-radius: 5px;
  outline: none;
}

.login button {
  height: 2vh;
  border-radius: 5px;
}

 .login h2 {
   color: #ddd;
 }

 .after-login p {
   color: white;
   display: inline;
   margin-right: 20px;
   border-right: 1px solid white;
   padding-right: 10px;
 }

 .after-login p:hover {
   cursor: pointer;
 }

.welcome {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background: linear-gradient(to bottom right, #111, #333);
}

.welcome h2 {
  font-size: 50px;
  color: #ddd;
  margin-left: 100px;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.welcome form {
 margin-left: 100px;
}

.welcome input {
 width: 500px;
 height: 6vh;
 border-radius: 5px;
 border: 2px solid white;
 font-size: 20px;
 padding-left: 5px;
}

.welcome input:focus {
  border: 2px solid #7C00FF;
  outline: none;
}

.welcome h3 {
  color: #ddd;
  font-size: 30px;
  margin: 5px 0 5px 0;
}

.welcome button {
  width: 125px;
  height: 35px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
  transition: 200ms;
}

button {
  outline: none;
  border: 1px solid transparent;
  font-family: 'Ubuntu', sans-serif;
  transition: 500ms;
  background: #7C00FF;
  color: white;
  border-radius: 5px;
}

button:hover {
  outline: none;
  background: #ff4422;
  color: white;
  cursor: pointer;
  transition: 500ms;
}

#guest {
  width: 125px;
  margin-left: 100px;
  margin-top: 10px;
  height: 35px;
  font-size: 15px;
  border-radius: 5px;
}

.footer {
  background-color: #222;
  border-top: 1px solid #111;
  color: #ddd;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer h2 {
 margin: 0;
}

.artistList {
  min-height: 80vh;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: #111;
  text-align: center;
  width: 80vw;
  margin: auto;
  padding: 0 20px 0 20px;
}

.artistList h2 {
  grid-column-start: 1;
  grid-column-end: 5;
  color: #eee;
  font-size: 5vw;
}

.artist {
  width: 20vw;
  height: 20vw;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.artist img {
  height: 80%;
  width: 80%;
  border-radius: 75%;
  border: 1px solid #222;
  border: 5px solid #111;
  margin-top: 20%;
  border: 2px solid #111;
}

.artist img:hover {
  cursor: pointer;
  border: 2px solid black;
}

.artist h3 {
  font-size: 1vw;
  color: #eee;
  transition: 300ms;
  margin-top: 10px;
}

.artist h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.profile-page {
  display: flex;
  justify-content: center;
}

.artist-profile {
  min-height: 100vh;
  height: auto;
  overflow: visible;
  width: 77vw;
  background: #111;
  padding: 50px;
}

.artist-profile button {
  margin-left: 10px;
}

.artist-profile h1 {
  color: white;
  font-size: 5vh;
}

.artist-profile button {
  border-radius: 5px;
}

#back {
  height: 30px;
  position: relative;
  bottom: 5vh;
  right:
}

.about-artist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 10vh;
  margin-bottom: 10px;
}

.about-artist img {
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  border: 5px solid #111;
  margin-left: 10px;
}

.about-artist h1 {
  margin-top: 0;
  font-size: 60px;
}

.about-artist p {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  margin: 0;
}

.album {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  background: #444;
  min-height: 30vh;
  width: auto;
  margin: 10px;
  color: white;
  transition: 1s cubic-bezier(.17, .67, .83, .67);
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 1);
}

.album:hover {
  cursor: pointer;
  background: rgb(35, 35, 35);
}

.album img {
  height: 18vh;
  width: 18vh;
  grid-column-start: 2;
  margin: auto;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 1px solid #111;
}

.selected-album {
  grid-column-start: 1;
  grid-column-end: 3;
  background: #444;
  color: white;
  transition: 1s cubic-bezier(.17, .67, .83, .67);
  margin: 5px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 5px 6px 1px rgba(0,0,1,0.28);
}

.selected-album:hover {
  cursor: pointer;
}

.selected-album img {
  height: 20vh;
  width: 20vh;
  margin: auto;
  border: 1px solid black;
  margin-bottom: 20px;
}

.song p {
  margin-bottom: 7px;
}

audio {
  width: 97%;
  display: inline;
  margin-bottom: 5px;
}

.album-name {
  font-size: 25px;
  margin-bottom: 0;
}

.album-genre {
  font-size: 20px;
  margin-top: 10px;
}

.albumList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.albumList button {
  width: 100px;
  height: 25px;
}

.entire-edit {
  width: 100vw;
  min-height: 80vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

#back-button {
  height: 5vh;
  width: 25%;
}

#delete-album {
  width: 25%;
}

.edit-music {
  min-height: 80vh;
  width: 80vw;
  color: white;
  background: #222;
  padding-left: 20px;
  display: grid;
  grid-template-columns:
}

.edit-music input {
  width: 400px;
  height: 5vh;
  border-radius: 5px;
  outline: none;
  border: 2px solid transparent;
}

.edit-music input:focus {
  border: 2px solid #7C00FF;
}

.submit-it {
  height: 30px;
}

.edit-create-album h1 {
  font-size: 50px;
  margin-top: 0;
  padding-top: 50px;
  grid-column-start: 1;
}

.edit-create-album button {
  margin-top: 0;
}

.around-edit-songs {
  display: flex;
}

.editing-songs {
  display: block;
  text-align: center;
  margin-right: 15px;
}

.editing-songs button {
  width: 100%;
}

.editing-songs p {
  margin-bottom: 0;
}

#delete:hover {
  background: red;
}

::selection {
 background: #7C00FF;
}

@media only screen and (max-width: 700px) {

  .login {
    height: 11vh;
  }

  .login h2 {
    font-size: 6vw;
    margin-left: 10px;
  }

  .login form {
    margin-left: 15vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .login input {
    grid-column-start: 1;
    margin-bottom: 5px;
  }

  .login button {
    height: 7vh;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .after-login {
    margin-right: 5px;
  }

  .after-login p {
    margin-right: 5px;
    padding-right: 3px;
  }

  .welcome {
    text-align: center;
    align-items: center;
    min-height: 79vh;
  }

  .welcome h2 {
    margin-left: 0;
  }

  .welcome form {
    margin-left: 0;
  }

  .welcome input {
    width: 90vw;
  }

  #guest {
    margin-left: 0;
  }

  .artistList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .artistList h2 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .artist {
    width: 40vw;
    height: 40vw;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .artist h3 {
    font-size: 3vh;
    color: #eee;
    transition: 300ms;
    margin-top: 10px;
  }

  .artist-profile {
    min-height: 100vh;
    height: auto;
    width: 100vw;
  }

  .about-artist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 9vh;
    margin-bottom: 10px;
  }

  .albumList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .selected-album {
    grid-column-start: 1;
    grid-column-end: 2;
    background: #444;
    color: white;
    transition: 1s cubic-bezier(.17, .67, .83, .67);
    margin: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 5px 6px 1px rgba(0,0,1,0.28);
  }

  .around-edit-songs {
    flex-direction: column;
  }

  .entire-edit {
    text-align: center;
  }

  .edit-music {
    padding-left: 0;
  }

  .entire-edit input {
    width: 40vw;
  }

  .entire-edit button {
    width: 100%;
  }

  .editing-songs {
    width: 100%;
  }


  #delete-album {
    width: 100%;
    margin-top: 10px;
  }
}
