.App {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #ddd;
}

.login {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  text-align: right;
  background: #111;
  height: 10vh;
  border-bottom: 1px solid black;
  width: 100vw;
}

.login form {
  margin-right: 100px;
}

.login input {
  margin-right: 5px;
  height: 20px;
  border: 2px solid white;
  border-radius: 5px;
  outline: none;
}

.login button {
  height: 24px;
  border-radius: 5px;
}

 .login h2 {
   color: #ddd;
 }

.welcome {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background: linear-gradient(#aaa, #ddd);
}

.welcome h2 {
  font-size: 50px;
  color: #ddd;
  margin-left: 100px;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.welcome form {
 margin-left: 100px;
}

.welcome input {
 width: 30vw;
 height: 6vh;
 border-radius: 5px;
 border: 2px solid white;
 font-size: 20px;
 padding-left: 5px;
}

.welcome input:focus {
  border: 2px solid #7C00FF;
  outline: none;
}

.welcome h3 {
  color: #ddd;
  font-size: 30px;
  margin: 5px 0 5px 0;
}

.welcome button {
  width: 125px;
  height: 35px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
  transition: 200ms;
}

button {
  outline: none;
  font-family: 'Ubuntu', sans-serif;
  transition: 200ms;
}

button:hover {
  background: #7C00FF;
  color: white;
}

#guest {
 width: 125px;
 margin-left: 100px;
 margin-top: 10px;
 height: 35px;
 font-size: 15px;
 border-radius: 5px;
}

.footer {
  background-color: #222;
  border-top: 1px solid #111;
  color: #ddd;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer h2 {
 margin: 0;
}

.artistList {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* background: linear-gradient(#111, #222); */
  background: #eee;
  text-align: center;
  width: 80vw;
  margin: auto;
  padding: 0 20px 0 20px;
}

.artistList h2 {
  grid-column-start: 1;
  grid-column-end: 6;
  color: #111;
  font-size: 5vw;
}

.artist {
  width: 100%;
  height: 24vw;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist img {
  height: 50%;
  width: 90%;
  border-radius: 50%;
  border: 1px solid #222;
  margin-bottom: 5px;
  border: 5px solid #111;
}

.artist img:hover {
  cursor: pointer;
}

.artist h3 {
  font-size: 2vw;
  color: #111;
  transition: 300ms;
}

.artist h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.profile-page {
  display: flex;
  justify-content: center;
}

.artist-profile {
  min-height: 100vh;
  height: auto;
  overflow: visible;
  width: 60vw;
  background: #eee;
  padding: 50px;
}

.artist-profile h1 {
  font-size: 5vh;
}

.artist-profile button {
  border: 1px solid black;
  border-radius: 5px;
}

.about-artist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 10vh;
  margin-bottom: 10px;
}

.about-artist img {
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  border: 5px solid #111;
  margin-left: 10px;
}

.album {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  background: #444;
  height: 30vh;
  width: auto;
  margin: 5px;
  color: white;
  transition: 1s cubic-bezier(.17, .67, .83, .67);
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.album img {
  height: 15vh;
  width: 15vh;
  grid-column-start: 2;
  margin: auto;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 5px solid black;
  border-radius: 50%;
}

.selected-album {
  grid-column-start: 1;
  grid-column-end: 3;
  background: #444;
  color: white;
  transition: 1s cubic-bezier(.17, .67, .83, .67);
  margin: 5px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.selected-album img {
  height: 20vh;
  width: 20vh;
  margin: auto;
  border-radius: 50%;
  border: 5px solid black;
  margin-bottom: 10px;
}

.song {
  display: flex;
}

audio {
  width: 90%;
  display: inline;
  transition: 5s;
}

.album-name {
  font-size: 25px;
}

.album-genre {
  font-size: 20px;
}

.album:hover {
  cursor: pointer;
  background: #111;
}

.albumList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.edit-album form {
  background: grey;
  height: 500px;
}

::selection {
 background: #7C00FF;
}
